build

# Local configuration file (sdk path, etc)
local.properties

# Windows thumbnail db
.DS_Store

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
*.iml
.idea/*
!.idea/copyright
!.idea/codeStyles/codeStyleConfig.xml

# Gradle cache
.gradle